NEXT_PUBLIC_BUILD_DATE = 20210917
OCP_APIM_SUBSCRIPTION_KEY="API subscription key here"
CPP_ACTIVE_BENEFIT_URL="Active CPP Benefit API url here"
EI_ACTIVE_BENEFIT_URL="Active EI Benefit API url"
CLIENT_SECRET="Client Secret from IDP"
CLIENT_ID="Client ID registered at the IDP"
