.stepper-container {
    width: 100%;
}

.stepper-container h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size:20px;
    margin-bottom: 16px;
    margin-left: 10px;
}
  
.step {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: cream;
}

.v-stepper {
    position: relative;
    width: 20px;
}

.step .circle {
    background-color: white;
    border: 3px solid gray;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.step.pending .circle {
    background-color: rgb(255, 162, 22);
    border-color: rgb(255, 162, 22);
}

.step.active .circle {
    background-color: rgb(15, 161, 15);
    border-color: rgb(15, 161, 15);
}
  
.step.empty .circle {
    visibility: hidden;
}

.step .line {
    height: 96%;
    background-color: gray;
    width: 2px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;  
}

.step.pending .line {
    background-color: rgb(255, 162, 22); 
}

.step.active .line {
    background-color: rgb(15, 161, 15);
}

.step.empty .line {
    margin-top: 0px;
    height: 150%;
}

.step:last-child .line {
    height: 100%;
    margin-top: 0px;
}
  
.stepper-content {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 20px;
    display: inline-block;
}

.stepper-content > p:first-child {
    font-size: 16px;
    font-weight: 700;
}

.stepper-content button {

    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;

    width: 140px;
    text-align: left;
}

@media only screen and (max-width: 640px) {
    .stepper-container h1 {
        margin: 0;
        padding-left: 1rem;
    }
}
